.score-table {
    margin-right: 100px;
}


@font-face {
    font-family: MouseMemoirs;
    src: url('/static/MouseMemoirs-Regular.ttf');
}

body {
    font-family: MouseMemoirs, sans-serif;
    font-size: 40px;
    color: white;
    background-color: #87ceeb;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

input[type=text] {
    font-size: 40px;
    border: 2px solid black;
    border-radius: 12px;
    -webkit-text-stroke-width: 0px;
}

input:focus[type=text] {
    outline: none;
}

.position-absolute {
    padding: 40px;
    padding-top: 10px;
}

.header-image {
    width: 100vw;
}

#room-name-submit {
    font-size: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1.40px solid black;
    border-radius: 12px;
}

a {
    font-size: 52px;
    color: white;
    padding: 10px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    text-decoration: none;
}

a:hover {
    color: white;
}

th, td {
    font-size: 40px;
    color: white;
    padding: 10px;
    -webkit-text-stroke-width: 1.40px;
    -webkit-text-stroke-color: black;
    text-decoration: none;
}


nav {
    font-size: 52px !important;
    background-color: #0d6efd;
    color: white;
    -webkit-text-stroke-width: 2px !important;
    -webkit-text-stroke-color: black;
    border-bottom: 1.40px solid black;
    position: absolute;
}